.section-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: antiquewhite;
  font-family: "TT Lakes";
  line-height: 38px;
  font-size: 18px;
  width: 90%;
  text-align: start;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.section-btn:hover {
  background-color: rgba(250, 235, 215, 0.435);
  border-radius: 20px;
}
