.aside-header {
  border: 1px solid antiquewhite;
  width: 280px;
  padding-top: 10px;
  border-radius: 20px;
  text-align: center;
  min-height: 50px;
}

.aside-header__btn {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .aside-header {
    height: 50px;
  }
}

@media screen and (max-width: 780px) and (min-width: 480px) {
  .aside-header {
    height: 55px;
    min-height: 55px;
  }
}

@media screen and (max-width: 4000px) and (min-width: 780px) {
  .aside-header {
    height: 55px;
    min-height: 55px;
  }
}

.aside-header :first-child {
  float: left;
}

.aside-header :nth-child(2) {
  float: left;
}

.aside-header :nth-child(3) {
  float: right;
}
