.bussines-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 20%;
  min-height: 200px;
  border: 1px solid antiquewhite;
  border-radius: 20px;
  font-family: "TT Lakes";
}

.bussines-card__btn {
  margin-left: 10px;
  margin-right: 10px;
}

.bussines-card .bussines-card__btns-container {
  margin-bottom: 10px;
}

.bussines-card .bussines-card__mail-info {
  margin-bottom: 15px;
}

.bussines-card .bussines-card__tel-info {
  margin-bottom: 10px;
}
