.bussines-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 20%;
  min-height: 200px;
  border: 1px solid antiquewhite;
  border-radius: 20px;
  font-family: "TT Lakes";
}

.bussines-card :first-child {
  margin-bottom: 10px;
}

.bussines-card :nth-child(2) {
  margin-bottom: 15px;
}
